<h1>Current Employees</h1>

 <% @employees.each do |employee| %>

  <h3><a href="/employees/<%= employee.id %>">
	 <%= employee.name %>
     </a>
  </h3>

 <% end %>


 <form action="/logout"	method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log out">
</form>

<div class="button"><h2><a href="/employees/new">Add a new employee</a></h2></div>	

