<h1>Current Employees</h1>

 <% @employees.each do |employee| %>

  <h3><a href="/employees/<%= employee.id %>">
	 <%= employee.name %>
     </a>
  </h3>

 <% end %>

<div class="button"><h2><a href="/employees/new">Add a new employee</a></h2></div>	

