<html>
<head>
	<link rel="stylesheet" href="/main.css">
	<title>Restaurant</title>
</head>
<body>
<div id="container">
<header>
<nav>
	<ul>
	<li><a href ="/foods">Menu</a></li>
	<li><a href ="/orders">Orders</a></li>
	<li><a href ="/parties">Parties</a></li>
	<li><a href ="/employees">Employees</a></li>
	</ul>
</nav>
</header>


<%= yield %>

</div>
</body>
</html>