body {
	margin-top: 20px;
	font-family: helvetica, sans-serif;
	font-size: 100%;
	/*margin: 0 auto;*/
}

nav ul li  {
	display: inline;
}

nav a {
	text-decoration: none;
	border-radius: 5px;
	border: solid grey;
	padding: 10px;

}