body {
	margin-top: 20px;
	font-family: helvetica, sans-serif;
	font-size: 100%;
	/*text-align: center;*/
}
nav ul li  {
	display: inline;
}

li {
	list-style-type: none;
}
 nav a {
  border: solid grey;
  background-color: #778899;
  color: white;

 }

 a {
	text-decoration: none;
	border-radius: 3px;
	padding: 10px;
}

fieldset {
	display: inline;
	padding: 15px;
}

.party_box {
	text-align: center;	
    display: inline-block;
	border: solid 1px black;
	padding: 5px;
	margin-right: 5px;

}