<h1>Current Menu</h1>
<h3>
	<div class="button"><a href="/foods/new">Add a new food to the menu!</a></div>
</h3>
<ul>
<% @menu.each do |food| %>

   	<li>
<p><a href="/foods/<%=food.id%>">
	<%= food.name %>_______<%= currency (food.price) %>
</a></p>	
   	</li>

 <% end %>
</ul>


