<h2>Editing <%= @party.table_name %></h2>

<form action="/parties/<%= @party.id %>" method="POST">

<label for="party_table_name">Table Name:</label>
<input id="party_table_name" type="number" name='party[table_name]' min=1 max=8 value=1>
<br>


<label for="party_guests">No. of Guests:</label>
<input id="party_guests"type="number" name='party[guests]' min=1 max=6 value=0>
<br>


<input type="hidden" name="_method" value="patch">
<input type="submit" value="Edit Party!">
</form>


<form action="/parties/<%= @party.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Party">
</form>
