<h1>Current Parties</h1>

<ul>

<% @parties.each do |party| %>
<%  unless party.paid %>
<div class="party_box">
  <h3>Table Number</h3>
   <li>
  	<a href="/parties/<%=party.id%>"> <%= party.table_name %></a>
  	<p>Party of  <%= party.guests %></p>
  </li></div>
      <% end %>
    <% end %>
</ul>

<h2><a href="/parties/new">Add a New Party</a></h2>


