<h2>Add a New Party</h2>

<form action="/parties" method='POST'>

<label for="employee_name ">Choose Waiter</label>
  <select name="party[employee_id]">
    <% @employees.each do |employee| %>
      <option value="<%= employee.id %>">
      	<%= employee.name %>
      </option>
    <% end %>
  </select>
<br>
<label for="table_name ">Table Number:</label>
<select name="party[table_name]">
	<% @available.each do |avail| %>
	<option id="table_name " type="number" value="<%= avail %>"><%= avail %> 
	</option>
  <% end %>
</select>
<br/>

<label for="party_guests">Guests:</label>
<input id="party_guests" type="number" name='party[guests]' min=1 max=6 value=1 ><br>


 <input type="submit" value="Add Party!">

</form>
